.descContainer{
    display: flex;
    width: 100%;
    background-color: #0B2027;
    position: sticky;
    top: -1px;
    z-index:999;
}

@media only screen and (min-width: 1001px){
    .descContainer{
        height: 50vh;
    }
}

@media only screen and (max-width: 1000px){
    .descContainer {
        height: 25vh;
    }
}

.descInnerContainer{
    margin: auto;
    width: 75%;
    height: 75%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #40798C;
    border-radius: 10px;
    color: #CFD7C7;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 20px 20px #888888;
}

.descHeader{
    margin: 0;
}

.descDesc{
    line-height: 1.5;
    font-size: 20px;
}

.descBtn{
    padding: 6px 25px;
    font-size: 20px;
    border: none;
}