.imgContainer{
    width: 25%;
}

.profileHeader{
    display: flex;
    justify-content: space-between;
}

.form{
    width: 70%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly
}

.formGroup{
    margin: 10px 0;
}

.input{
    width: 100%;
    box-sizing: border-box;
}

.textareaInput{
    width: 100%;
    box-sizing: border-box;
    height: 150px;
}