.container{
    min-height: 100vh;
    position: relative;
    top: 5vh;
}

.profileHeader{
    /* margin-top: 15px;  */
    
}

.flexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color : #40798C;
    min-height: 35vh;
}

.imgContainer{
    height: 200px;
    width:  200px;
    overflow: hidden;
    border-radius: 100%;
    margin: 15px;
}


.img{
    width: 100%;
}

/* Post Styling */

.post{
    display:flex;
    justify-content: space-between;
}

.contributerContainer{
    display: flex;
    align-items: center;
}

.contributer{
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 15px;
}


@media(max-width: 1000px){
    .flexContainer{
        flex-direction: column;
    }
}

