.opacity {
    opacity: 0;
}

.flag {
    transition: .5s all;
    text-align: center;
    opacity: 0;
    width: 100%;
    position: fixed;
    z-index: -1;
    height: 20vh;
    top: 5vh;
}

.error {
    opacity: .95;
    z-index: 9999;
    background-color: #ffb3ba;
}

.success {
    opacity: .95;
    z-index: 9999;
    background-color: #baffc9;
}