.navbar{
    background-color: #0B2027;
    border-bottom: 2px solid #F6F1D1;
    height: 5vh;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}


.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navHeader{
    margin: 0;
    font-size: 1.5rem;
}

.navItems{
    /** fix width later this is a place holder for development */
    width: 33%;
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
    justify-content: space-between;
}