.navbar{
    background-color: #0B2027;
    height: 50px;
    padding: 0 10px;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navHeader{
    margin: 0;
    font-size: 1.5rem;
}

.navItems{
    /** fix width later this is a place holder for development */
    width: 33%;
    display: flex;
    justify-content: space-around;
}