.profileHeader{
    margin-top: 15px; 
    display: flex;
    align-items: center;
}

.profileDesc{
    margin-left: 15px;
    width: 75%;
    border: solid 2px #eee;
    padding: 15px;
    border-radius: 10px;
}

.descHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoContainer{
    display: flex; 
    justify-content: space-between;
}

.username{
    border: solid 2px #eee;
    border-radius: 5px;
}

.btnDanger{
    background-color: rgb(255,0,0);
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 0;
    font-weight: 600;
    color: white;


    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 4px;
}

.bioTextarea{
    resize: none;
    width: 500px;
    height: 170px;
    border: solid 2px #eee;
    border-radius: 5px;
    font-family: inherit;
}

.submitContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 50px 0 0 0;
}