.profileHeader{
    margin-top: 15px; 
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eee;
}

.profileDesc{
    margin-left: 15px;
    width: 75%;
}

.infoContainer{
    display: flex; 
    justify-content: space-between;
}

.username{
    border-bottom: 2px solid #eee;
}